@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@300;400;500;600;700&display=swap');

:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #0a0b10;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0b10;
}

.crack-effect {
  color: #FFD700;
  margin-top: 2.5rem;
  margin-bottom: 0;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  position: relative;
  text-shadow: 0 0 10px rgb(149, 132, 0);
  background: url('img/crack.png') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  animation: crack 1.8s infinite;
}

@keyframes crack {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
  cursor: pointer;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}

.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}

.wrapper::after {
  bottom: 0;
  opacity: 0;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}

.title {
  width: 100%;
  transition: transform 0.5s;
}

.character {
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.5s;
}

img {
  border-radius: 1rem;
}

.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 0px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card:hover .title {
  transform: translate3d(0%, -50%, 100px);
}

.card:hover .wrapper::after,
.wrapper::before {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}

.card:hover .wrapper::before {
  opacity: 1;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0, -25%, 100px);
}

.card:hover {
  box-shadow: 0px 40px 40px 12px rgba(41, 27, 53, 0.75);
}

#audio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 1rem;
  left: 1rem;
  background: url('img/crack.png') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  cursor: pointer;
}

#audio i {
  color: #0a0b10;
  font-size: 1.5rem;
}

#audio:hover i {
  color: rgb(149, 132, 0);
}

#audio:hover {
  text-shadow: 0 0 8px rgb(192, 170, 0);
}